<% provide(:title, 'About Us') %>
<h1>About JKL</h1>
<h2> The Creators of Cliqin </h2>
<p align = "center">
Would you like to learn about the AWESOME team that made
Cliqin.  If so, come meet us! But don't get too friendly, 
let's be real. 
</p>
