
<div class = "row">
	<div class = "span6 offset3">
		<br>
		<h2> Cliqin is here to help. </h2> 
		<p align="center"> 
			Cliqin aims to make the <b>lecture experience</b> pleasant for students and teachers alike. We give instructors an easy way to <b>record attendance</b> and <b>guage student participation</b> and understanding. Students can participate in lecture using a <b>simple and clean interface</b>. Checking grades is easy. Take the busy work out of classroom bookkeeping. <b>Cliqin Classroom Assistant</b>. 

		</p>
	</div>
</div>




