<h1>Listing student_in_courses</h1>

<table>
  <tr>
    <th>Course name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_in_courses.each do |student_in_course| %>
  <tr>
    <td><%= student_in_course.course_name %></td>
  </tr>
<% end %>
</table>

<br />


