<h1>New student_in_course</h1>

<% StudentInCourse.create(:course_ID => params[:course_id], :student_ID => params[:student_ID], :course_name => params[:course_name]) %>

<%= link_to 'Back', student_in_courses_path %>
