<h1>Your course has been added!</h1>

<% StudentInCourse.create(:course_ID => params[:course_id], :student_ID => params[:student_ID], :course_name => params[:course_name]) %>
<div class="center hero-unit">
<%= link_to 'Add more courses', courses_path, :class => "btn btn-large btn-primary" %>

<%= link_to 'Show my profile', student_path(:id => params[:student_ID]), :class => "btn btn-large btn-primary" %>
</div>
