<div class="center hero-unit">
<h3> Warning! </h3>
<br>
<h2> Deleting your account will delete all courses and question sets that you have created. You will not be able to access any grades or other information for these courses after you delete your account. </h2>
<h3> Are you sure you want to delete your account? </h3>
<br>
<br>
<div align="center"> <%= link_to 'Yes, delete my account', @instructor, :method => :delete,
			:data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %>
			<!-- we can probably take this confirm out...it's just so many confirmations -->

			<%= link_to 'No, return to Profile', instructor_path(:id => @instructor.id), :class => "btn btn-info" %>
</div> 
</div>
