<% provide(:title, @instructor.login) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @instructor.login %>    
      </h1>
      
      <% courses = Course.where(:instructor_ID => @instructor.id) %> 
          <% courses.each do |c| %>
            <li><%= link_to c.course_name, c %></li>
          <% end %>
        

      <%= link_to "Add course", new_course_path(:instructor_ID => @instructor.id), :class => "btn btn-large btn-primary" %>
    </section>
  </aside>
</div>
