<h1></h1> 
<div class="center hero-unit">
  <h1>Welcome to Cliqin</h1>

  <h2>
    Manage your Cliqin Classroom Assisstant
  </h2>


</div>
  <div class = "row">
	<div class="span4" >
	  <h2 align=center>
			  <%= link_to "Instructor Sign Up", instructorsignup_path %>
		</h2>
	</div>
	<div class="span4" >
	  <h2 align=center>
			  <%= link_to "Student Sign Up", studentsignup_path %>
		</h2>
	</div>
	<div class="span4" >
	  <h2 align=center>
			  <%= link_to "Learn More", '/static_pages/about' %>
		</h2>
	</div>

  </div>

