<h1></h1> 
<div id="HomePage">
 <%= image_tag "home_banner.jpeg", :id => "HomeImage" %>
<div>
  <h1 >
    Classroom Assistant
  </h1>
	<br>
 </div>
  <div class = "row">
	<div class="span4" id="homeicon" >
	  <h3>Instructor Sign Up</h3>
		  <div align=center>
				  <%= link_to(image_tag("instructors.png", :alt =>\
						  "Instructor Signup"), instructorsignup_path) %>
		</div>
	</div>
	<div class="span4" id="homeicon">
	  <h3> Student Sign Up</h3>
		  <div align=center>
				  <%= link_to(image_tag("students.png", :alt =>\
						  "Instructor Signup"), studentsignup_path) %>
		</div>
	</div>
	<div class="span4" id="homeicon">
	  <h3> Learn More</h3>
		  <div align=center>
				  <%= link_to(image_tag("lightbulb.png", :alt =>\
						  "Instructor Signup"), '/static_pages/about') %>
		</div>
	</div>

  </div>
  </div>
