<h1></h1> 
<div class="center hero-unit">
	
  <h1>Welcome to Cliqin</h1>

  <h2>
    The sign in page for your Cliqin Classroom Assisstant
  </h2>

  <%= link_to "Select Class", '#', :class => "btn btn-large btn-primary" %>
</div>

