<h1></h1> 
<div class="center hero-unit">
  <h1>Welcome to Cliqin</h1>

  <h2>
    Manage your Cliqin Classroom Assisstant
  </h2>

  <%= link_to "Instructor Login", '#', :class => "btn btn-large btn-primary" %>
  <%= link_to "Select Class", '#', :class => "btn btn-large btn-primary" %>
  <%= link_to "Check My Grades", '#', :class => "btn btn-large btn-primary" %>
</div>

