<h1>Editing answer</h1>
<div>
	<form action="">
	<input type="radio" name="choice" value=" A">A
	<input type="radio" name="choice" value=" B">B
	<input type="radio" name="choice" value=" C">C
	<input type="radio" name="choice" value=" D">D
	<input type="radio" name="choice" value=" E">E
	</form>
</div>

<%= link_to 'Show', @answer %> |
<%= link_to 'Back', answers_path %>
