<h1>Listing answers</h1>

<table>
  <tr>
    <th>Class date</th>
    <th>Total points</th>
    <th>Answers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.class_date %></td>
    <td><%= answer.total_points %></td>
    <td><%= answer.answers %></td>
    
  </tr>
<% end %>
</table>

<br />
