
<h1>Select a course</h1>

<div align=center>
<table >
  <tr>
    <th>Course name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% course_names = @courses.sort_by {|u| u.course_name} %>
<% course_names.each do |course| %>
  <tr>
    <!-- removing this link for now maybe in the future it could link to a course page for students -->
    <!-- <td><%= link_to course.course_name, course %></td> -->
    <td><%= course.course_name %>
    <% if course.is_enrolled?(params[:student_ID], course.id) %>
      <td>added</td>
    <% else %>
     <td><%= link_to 'Add', new_student_in_course_path(:course_id => course.id, :student_ID => params[:student_ID], :course_name => course.course_name), :class => "btn btn-large btn-primary" %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>

<br />
