/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body{
	height: 100%;
}

#HomeImage{
	webkit-border-radius: 4px;
	moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
}

header{


}

#HomePage{

	h1{
		color: $grayLight;
		padding-top: 10px;
		text-align: right;
		padding-right: 25px;
		font-size: 28px
	}

	.hero-unit {

	  padding-top: 0px;
	  background-image: url(home_banner.jpeg);
		background-position: center;
		background-color: #000;
	  background-repeat: no-repeat;
	  height: 270px;
	}
}

#homeicon{
	
	h2 {
	text-align: center;
	color: #000;
	line-height: 0px;
	padding-bottom: 0px;
	}

	p{
		font-size: 15px;
	}
}

/*   NAVBAR INFO */

header {

		line-height: 40px;

		.navbar {


			-webkit-box-shadow: none !important;
		}

		.navbar-fixed-top{

			-webkit-box-shadow: none !important;
		}

		.align_bottom{
				verticle-align: center;
		}

		.navbar-inner {
		  background: $white !important;
			border: 0 !important;
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
			padding-bottom: 0px !important;
			verticle-align: bottom;

			.nav, 	
			.nav > li {
					padding-top: 10px;
					float: none;
					display:inline-block;
					*display:inline;
					verticle-align: bottom;
					font-size: 23px;
					font-family: Sans;
					font-weight: 50px;

					//couldn't get this to work
					&:hover{
						 color: #000;
					}
			}
		}
}

